@model dptos
@{
    ViewBag.Title = "Crud";
}

<div id="yo" class="page">

    <ol class="breadcrumb">
        <li><a href="~/admin/departamentos">Departamentos</a></li>
        <li class="active">"Nuevo registro"</li>
    </ol>

    @using (Html.BeginForm("guardar", "departamentos", FormMethod.Post))
    {

        <div>
                        @Html.HiddenFor(x => x.idDpto)
                    <div class="form-group">
                        @Html.Label("Nombre departamento")
                        @Html.TextBoxFor(x => x.nombre_dpto, new { @class = "form-control", placeholder = "Ingrese el nombre del departamento" })
                        @Html.ValidationMessageFor(x => x.nombre_dpto, null, new { @class = "label label-danger" })
                    </div>
        </div>

        <div class="text-right well well-sm">
            <button data-ajax="true" class="btn btn-primary">Guardar</button>
        </div>
    }
</div>
