
@{
    ViewBag.Title = "fallas";
}

<div id="experiencia" class="page">

    <h1 class="page-header remove-margin">
        <a class="btn btn-primary pull-right" href="~/admin/tipofalla/crud">Agregar</a>
        @ViewBag.Title
    </h1>

    <div id="list"></div>
</div>

<script>
    $(document).ready(function () {
        var agrid = $("#list").anexGrid({
            columnas: [
                { leyenda: 'Nombre', columna: 'nombre_falla', ordenable: true },
                { style: 'width:60px' },
            ],
            modelo: [
                {
                    propiedad: 'nombre_falla', formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/tipofalla/crud/")' + obj.idTipoFalla,
                            contenido: valor
                        });
                    }
                },
                @*{
                    propiedad: 'nombre_falla', formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/tipofalla/eliminar/")' + obj.idTipoFalla,
                            contenido: '<i class="fa fa-trash"></i>',
                            class: 'btn btn-danger btn-xs btn-block btn-eliminar',
                        });
                    }
                },*@
            ],
            url: '@Url.Content("~/admin/tipofalla/listar/")',
            paginable: true,
            limite: [20, 60, 100],
            columna: 'idTipoFalla',
            columna_orden: 'DESC'
        });

        agrid.tabla().on('click', '.btn-eliminar', function () {
            if (!confirm('¿Está seguro de eliminar este registro?'))
            {
                return;
            }

            $.post($(this).attr('href'), function (r) {
                if (r.response) agrid.refrescar();
            }, 'json')

            return false;
        })
    })
</script>

