
@{
    ViewBag.Title = "Vitacora";
}

<div id="Vitacora" class="page">

    <h1 class="page-header remove-margin">
        <a class="btn btn-primary pull-right" href="~/admin/vitacora/crud">Agregar</a>
        @ViewBag.Title
    </h1>

    <div id="list"></div>
</div>

<script>
    $(document).ready(function () {
        var agrid = $("#list").anexGrid({
            columnas: [
               { leyenda: 'Id', columna: 'idVitacora', ordenable: true },
               { leyenda: 'Vitacora', columna: 'descripcion', ordenable: true },
               { leyenda: 'Fecha', columna: 'fecha', ordenable: true },
               { leyenda: 'Autor', columna: 'nombre', ordenable: true },
               { style: 'width:50px' },
            ],
            modelo: [
                {
                    propiedad: 'idVitacora', formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/vitacora/crud/")' + obj.idVitacora,
                            contenido: valor
                        });
                    }
                },
            { propiedad: 'descripcion' },
            { propiedad: 'fecha', formato: function (tr, obj, valor) { return moment(valor).format("YYYY-MM-DD"); } },
            { propiedad: 'nombre' },
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/vitacora/eliminar/")' + obj.idVitacora,
                            contenido: '<i class="fa fa-trash"></i>',
                            class: 'btn btn-danger btn-xs btn-block btn-eliminar',
                        });
                    }
                },
                 
            ],
            url: '@Url.Content("~/admin/vitacora/listar")',
            paginable: true,
            limite: [20, 60, 100],
            columna: 'idVitacora',
            columna_orden: 'DESC'
        });

        agrid.tabla().on('click', '.btn-eliminar', function () {
            if (!confirm('¿Está seguro de eliminar este registro?'))
            {
                return;
            }

            $.post($(this).attr('href'), function (r) {
                if (r.response) agrid.refrescar();
            }, 'json')

            return false;
        })
    })
</script>

